<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Antic|Crushed" rel="stylesheet">

  <link href="/css/main.css" rel="stylesheet" type="text/css">


  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}" />
  <meta name="keywords" content="{page.keywords}" />

</head>
<body>
  <header class="grid header">
      <div class="col-7_sm-3">
        <a href="/index.html">Home</a>
      </div>

      <div class="col-1_sm-3">
        <a href="/blog.html">Blog</a>
      </div>
      <div class="col-1_sm-3">
        <a href="/websites.html">Digital</a>
      </div>
      <div class="col-1_sm-3">
        <a href="/reviews.html">Reviews</a>
      </div>
      <div class="col-1_sm-3">
        <a href="/projects.html">Projects</a>
      </div>
      <div class="col-1_sm-3">
        <a href="/contact.html">Contact</a>
      </div>

  </header>

{{ content }}

  <footer class="grid footer">
    <div class="col-8_sm-12">
      <p>
        ©2017 Antonia Mochan ABN: 65510348042
      </p>
    </div>

    <div class="col-1_sm-3">
      <a href="https://www.facebook.com/antoniamochandotcom/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
    <div class="col-1_sm-3">
      <a href="https://twitter.com/antoniam" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div class="col-1_sm-3">
      <a href="https://www.instagram.com/euonymblog/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
    <div class="col-1_sm-3">
      <a href="https://www.linkedin.com/in/antoniamochan/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
  </footer>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<link href="js/main.js">
</body>
